.previewCard {
  width: 315px;
  float: left;
}

.previewInfo {
  padding: 10px;
}

.point {
  width: 30px;
  height: 30px;
  position: relative;
  float: left;
  cursor: pointer;
}

.preview .point {
  width: 15px;
  height: 15px;
}

.stone {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
}

.preview .stone {
  width: 15px;
  height: 15px;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.3);
}

.stone.white {
  background: white;
}

.stone.black {
  background: black;
}


.north, .south, .east, .west {
  border: 1px solid black;
  position: absolute;

}

.north, .south {
  height: 15px;
  width: 0px;
  left: 14px;
}
.north { top: 0; }
.south { bottom: 0; }

  .preview .north, .preview .south {
    height: 8px;
    left: 7px;
    border: none;
    border-left: 1px solid black;
  }


.west, .east {
  height: 0px;
  width: 15px;
  top: 14px;
}
.west { left: 0; }
.east { right: 0; }

  .preview .west, .preview .east {
    width: 7px;
    top: 7px;
    border: none;
    border-top: 1px solid black;
  }

.starPoint {
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 3px;
  background: black;
  left: 11px;
  top: 11px;
}

  .preview .starPoint {
    height: 3px;
    width: 3px;
    border-radius: 3px;
    left: 6px;
    top: 6px;
  }

.sidePanel {
  float: right;
  margin-left: 20px;
  padding-left: 20px;
  width: 400px;
}

.board {
  padding: 5px;
  margin: 10px;
  background: #dfbe48;
  float: left;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;

  position: relative;

  box-shadow: 0px 0px 5px 3px #ccc
}

.clear {
  clear: both;
}

.blackClock {
  float: left;
}
.whiteClock {
  float: right;
}
